/* Ma palette de couleur se retrouve ici */

$bleupale1: #00D4FF;
$bleupale2: #17A9E0;
$bleu1: #1a7fbf;
$bleu2: #1c5d9f;
$bleufoncee1: #0e3c7c;
$bleufoncee2: #0d2059;
$bleufoncee3: #130a58;
$bleubulle: #80adbe;