#background-wrap {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

/* KEYFRAMES */
.bulle {
  transition: transform ease 0.3s;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
  height: 130px;
  width: 130px;
  position: relative;
}

.bulle:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.bulle :after {
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 12+ */
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 50%;
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  content: "";
  height: 100px;
  left: 10px;
  position: relative;
  width: 100px;
}

@keyframes animateBubble {
  0% {
    margin-top: 200vh;
  }
  100% {
    margin-top: -200vh;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

/* ANIMATIONS */
.x1 {
  animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: -5%;
  top: 5%;
  z-index: 10;
  transform: scale(0.6);
}

.x2 {
  animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 5%;
  top: 80%;
  transform: scale(0.4);
}

.x3 {
  animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 10%;
  top: 40%;
  transform: scale(0.7);
}

.x4 {
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 20%;
  top: 0;
  transform: scale(0.3);
}

.x5 {
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  z-index: 10;
  left: 30%;
  top: 50%;
  transform: scale(0.5);
}

.x6 {
  animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 50%;
  top: 0;
  transform: scale(0.8);
}

.x7 {
  animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  z-index: 10;
  left: 65%;
  top: 70%;
  transform: scale(0.4);
}

.x8 {
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 80%;
  top: 10%;
  transform: scale(0.3);
}

.x9 {
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 90%;
  top: 50%;
  transform: scale(0.6);
}

.x10 {
  animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 80%;
  top: 80%;
  transform: scale(0.3);
}

/* OBJECTS */
.bubble {
  border-radius: 50%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
  height: 130px;
  position: absolute;
  width: 130px;
}

.bubble:after {
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 12+ */
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 50%;
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  content: "";
  height: 100px;
  left: 10px;
  position: absolute;
  width: 100px;
}

.bullesection {
  border-radius: 50%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
  height: 130px;
  width: 130px;
  position: relative;
  transition: transform ease 0.3s;
}

.bullesection:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.bullesection :after {
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 12+ */
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 50%;
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  content: "";
  height: 100px;
  left: 10px;
  position: relative;
  width: 100px;
}

body {
  background: #00D4FF;
  background: linear-gradient(169deg, #00D4FF 9%, #17A9E0 19%, #1a7fbf 31%, #1c5d9f 43%, #0e3c7c 56%, #0d2059 74%, #130a58 89%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$bleupale1, endColorstr=$bleufoncee3, GradientType=1);
}

body {
  overflow: hidden;
}

@media only screen and (max-width: 65em) {
  body {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 37.5em) {
  body {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 37.5em) {
  body {
    height: 200vh;
  }
  body .Intro section {
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .Intro section #bloc1,
  body .Intro section #bloc2,
  body .Intro section #bloc3 {
    max-width: 275px;
    height: 275px;
    width: 100vw;
    position: relative;
    right: 0;
    left: 0;
  }
  body .Intro section #bloc1 h1,
  body .Intro section #bloc2 h1,
  body .Intro section #bloc3 h1 {
    font-size: 1.3rem;
  }
  body .Intro section #bloc1 #bloc2,
  body .Intro section #bloc2 #bloc2,
  body .Intro section #bloc3 #bloc2 {
    position: relative;
    left: 0;
  }
  #BulleToggle .bulle {
    margin-bottom: 0;
    width: 125px;
    height: 125px;
  }
  #BulleToggle .bulle h1 {
    font-size: 1.33em;
  }
  #BulleToggle #bloc1 {
    right: 10vw;
  }
  #BulleToggle #bloc2 {
    left: 7vw;
  }
  #BulleToggle #bloc3 {
    right: 5vw;
  }
}

@media only screen and (max-width: 65em) {
  body {
    height: 210vh;
  }
  body .Intro section {
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .Intro section #bloc1,
  body .Intro section #bloc2,
  body .Intro section #bloc3 {
    max-width: 275px;
    height: 275px;
    width: 100vw;
    position: relative;
    top: 0;
  }
  body .Intro section #bloc1 h1,
  body .Intro section #bloc2 h1,
  body .Intro section #bloc3 h1 {
    font-size: 1.3rem;
  }
  body .Intro section #bloc1 {
    right: 10vw;
  }
  body .Intro section #bloc2 {
    left: 7vw;
  }
  body .Intro section #bloc3 {
    right: 5vw;
  }
  #BulleToggle .bulle {
    margin-bottom: 0;
    width: 125px;
    height: 125px;
  }
  #BulleToggle .bulle h1 {
    font-size: 2em;
  }
}

.Intro .backgroundlightbox {
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  z-index: 3;
}

.Intro .backgroundlightbox .lightbox {
  margin: 0 auto;
  position: fixed;
  top: 20vh;
  left: 25vw;
  width: 50vw;
  background-color: #0e3c7c;
  height: 60vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.Intro .backgroundlightbox .lightbox .headerlightbox {
  display: flex;
  flex-direction: row;
}

.Intro .backgroundlightbox .lightbox .headerlightbox h2 {
  width: 70%;
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.Intro .backgroundlightbox .lightbox .headerlightbox button {
  width: 10vw;
  height: 10vh;
  position: relative;
}

.Intro .backgroundlightbox .lightbox p {
  justify-content: center;
  width: 100%;
  max-width: 100%;
  margin: 0;
  position: relative;
  border-radius: 0px;
  text-align: left;
  font-size: 1.25rem;
  line-height: 30px;
}

.Intro header {
  display: flex;
  flex-direction: row;
  height: 20vh;
}

.Intro header h1 {
  text-align: center;
}

.Intro header a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.Intro nav {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

.Intro nav h1 {
  color: white;
}

.Intro nav div {
  margin: 0 5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Intro nav div h1 {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  justify-content: center;
}

.Intro section {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  height: 80vh;
}

.Intro section #bloc1,
.Intro section #bloc2,
.Intro section #bloc3 {
  max-width: 250px;
  width: 30vw;
  height: 250px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Intro section #bloc1 h1,
.Intro section #bloc2 h1,
.Intro section #bloc3 h1 {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.5);
}

.Intro section #bloc1 {
  position: relative;
  top: 5vh;
}

.Intro section #bloc2 {
  position: relative;
  top: -3vh;
}

.Intro section #bloc3 {
  position: relative;
  top: 13vh;
}

#BulleToggle {
  display: flex;
  justify-content: center;
}

#BulleToggle .bulle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

#BulleToggle .bulle h1 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2.5em;
}

body {
  background: #00D4FF;
  background: linear-gradient(169deg, #00D4FF 9%, #17A9E0 19%, #1a7fbf 31%, #1c5d9f 43%, #0e3c7c 56%, #0d2059 74%, #130a58 89%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$bleupale1, endColorstr=$bleufoncee3, GradientType=1);
}

.App {
  margin-top: 1vh;
  transition: opacity 1s ease;
  height: 100vh;
}

.App #BoutonToggle button {
  margin-top: 1vh;
}

.App .Prototype {
  width: 65vw;
  margin: auto auto;
  background-color: black;
  border: black solid 10px;
  border-radius: 50px;
  height: 82.5vh;
}

.App .Prototype header {
  height: 10vh;
  min-height: 50px;
  color: white;
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 0px 50px;
  box-sizing: border-box;
  border-radius: 30px 30px 0 0;
}

.App .Prototype section {
  background-color: #130a58;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 50vw;
  height: 65vh;
  border-radius: 0 0 30px 30px;
}

.App main {
  padding: 10px;
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.App main::-webkit-scrollbar {
  width: 0.25rem;
}

.App main::-webkit-scrollbar-track {
  background: #0e3c7c;
}

.App main::-webkit-scrollbar-thumb {
  background: #1a7fbf;
}

.App form {
  height: 10vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App form button {
  width: 15vw;
  background-color: #38388f;
}

.App input {
  line-height: 1.5;
  width: 30vw;
  font-size: 1.5rem;
  background: #3a3a3a;
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
  border-radius: 20px;
}

.App button {
  background-color: #282c34;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 15px;
}

.App button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.App .sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

.App ul,
.App li {
  text-align: left;
  list-style: none;
}

.App p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.App .message {
  display: flex;
  align-items: center;
}

.App .sent {
  flex-direction: row-reverse;
}

.App .sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}

.App .received p {
  background: #e5e5ea;
  color: black;
}

.App img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

#BoutonToggle {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

#BoutonToggle h1 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2.5em;
}
