@charset "UTF-8";
/* Voilà tout ce qui gère l'animation et la taille des bulles. Le CSS est très mal optimisé, je n'avais pas eu le temps
de l'améliorer */
#background-wrap {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

/* Création des keyframes */
.bulle {
  transition: transform ease 0.3s;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
  height: 130px;
  width: 130px;
  position: relative;
}

.bulle:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.bulle :after {
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 12+ */
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 50%;
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  content: "";
  height: 100px;
  left: 10px;
  position: relative;
  width: 100px;
}

@media only screen and (max-width: 65em) {
  .bulle :after {
    height: 75px;
    width: 75px;
  }
}

@media only screen and (max-width: 37.5em) {
  .bulle :after {
    height: 50px;
    width: 50px;
  }
}

@keyframes animateBubble {
  0% {
    margin-top: 200vh;
  }
  100% {
    margin-top: -200vh;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

/* Animations des bulles */
.x1 {
  animation: animateBubble 37.5s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: -5%;
  top: 5%;
  z-index: 10;
  transform: scale(0.6);
}

.x2 {
  animation: animateBubble 30s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 5%;
  top: 80%;
  transform: scale(0.4);
}

.x3 {
  animation: animateBubble 42s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 10%;
  top: 40%;
  transform: scale(0.7);
}

.x4 {
  animation: animateBubble 33s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 20%;
  top: 0;
  transform: scale(0.3);
}

.x5 {
  animation: animateBubble 43.5s linear infinite, sideWays 4s ease-in-out infinite alternate;
  z-index: 10;
  left: 30%;
  top: 50%;
  transform: scale(0.5);
}

.x6 {
  animation: animateBubble 31.5s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 50%;
  top: 0;
  transform: scale(0.8);
}

.x7 {
  animation: animateBubble 30s linear infinite, sideWays 2s ease-in-out infinite alternate;
  z-index: 10;
  left: 65%;
  top: 70%;
  transform: scale(0.4);
}

.x8 {
  animation: animateBubble 33s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 80%;
  top: 10%;
  transform: scale(0.3);
}

.x9 {
  animation: animateBubble 43.5s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 90%;
  top: 50%;
  transform: scale(0.6);
}

.x10 {
  animation: animateBubble 39s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 80%;
  top: 80%;
  transform: scale(0.3);
}

/* Propriétés concernant la bulle de background en tant que telle */
.bubble {
  border-radius: 50%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
  height: 130px;
  position: absolute;
  width: 130px;
}

@media only screen and (max-width: 65em) {
  .bubble {
    height: 100px;
    width: 100px;
  }
}

@media only screen and (max-width: 37.5em) {
  .bubble {
    width: 70px;
    height: 70px;
  }
}

.bubble:after {
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 12+ */
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 50%;
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  content: "";
  height: 100px;
  left: 10px;
  position: absolute;
  width: 100px;
}

@media only screen and (max-width: 65em) {
  .bubble:after {
    height: 75px;
    width: 75px;
  }
}

@media only screen and (max-width: 37.5em) {
  .bubble:after {
    height: 50px;
    width: 50px;
  }
}

/* Propriétés concernant la bulle qui permet d'accéder au prototype */
.bullesection {
  border-radius: 50%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
  height: 130px;
  width: 130px;
  position: relative;
  transition: transform ease 0.3s;
}

.bullesection:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.bullesection :after {
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 12+ */
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 50%;
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  content: "";
  height: 100px;
  left: 10px;
  position: relative;
  width: 100px;
}

@media only screen and (max-width: 65em) {
  .bullesection :after {
    height: 75px;
    width: 75px;
  }
}

@media only screen and (max-width: 37.5em) {
  .bullesection :after {
    height: 50px;
    width: 50px;
  }
}

/* Ma palette de couleur se retrouve ici */
body {
  background: #00D4FF;
  background: linear-gradient(169deg, #00D4FF 9%, #17A9E0 19%, #1a7fbf 31%, #1c5d9f 43%, #0e3c7c 56%, #0d2059 74%, #130a58 89%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$bleupale1, endColorstr=$bleufoncee3, GradientType=1);
}

body {
  overflow: hidden;
}

@media only screen and (max-width: 65em) {
  body {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 37.5em) {
  body {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 37.5em) {
  body {
    height: 200vh;
  }
  body .Intro section {
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .Intro section #bloc1,
  body .Intro section #bloc2,
  body .Intro section #bloc3 {
    max-width: 275px;
    height: 275px;
    width: 100vw;
  }
  body .Intro section #bloc1 h1,
  body .Intro section #bloc2 h1,
  body .Intro section #bloc3 h1 {
    font-size: 2rem;
  }
  #BulleToggle .bulle {
    margin-bottom: 0;
    width: 125px;
    height: 125px;
  }
  #BulleToggle .bulle h1 {
    font-size: 1.33em;
  }
  #BulleToggle #bloc1 {
    right: 10vw;
  }
  #BulleToggle #bloc3 {
    right: 5vw;
  }
}

@media only screen and (max-width: 65em) {
  body {
    height: 210vh;
  }
  body .Intro section {
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .Intro section #bloc1,
  body .Intro section #bloc2,
  body .Intro section #bloc3 {
    max-width: 275px;
    height: 275px;
    width: 100vw;
    position: relative;
    top: 0;
  }
  body .Intro section #bloc1 h1,
  body .Intro section #bloc2 h1,
  body .Intro section #bloc3 h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 65em) and (max-width: 37.5em) {
  body .Intro section #bloc1 h1,
  body .Intro section #bloc2 h1,
  body .Intro section #bloc3 h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 65em) {
  body .Intro section #bloc1 {
    right: 3vw;
  }
  body .Intro section #bloc2 {
    left: 7vw;
  }
  body .Intro section #bloc3 {
    right: 3vw;
  }
  #BulleToggle .bulle {
    margin-bottom: 0;
    width: 125px;
    height: 125px;
  }
  #BulleToggle .bulle h1 {
    font-size: 3em;
  }
}

.Intro .backgroundlightbox {
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  z-index: 3;
}

.Intro .backgroundlightbox .lightbox {
  margin: 0 auto;
  position: fixed;
  top: 20vh;
  left: 25vw;
  width: 50vw;
  background-color: #0e3c7c;
  height: 60vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 30px;
  box-shadow: 0px 0px 22px 7px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 22px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 22px 7px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 65em) {
  .Intro .backgroundlightbox .lightbox {
    height: 75vh;
    top: 10vh;
    width: 80vw;
    left: 10vw;
  }
}

.Intro .backgroundlightbox .lightbox div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.Intro .backgroundlightbox .lightbox .Headerlightbox {
  display: flex;
  flex-direction: row;
  margin-bottom: 2vh;
}

@media only screen and (max-width: 65em) {
  .Intro .backgroundlightbox .lightbox .Headerlightbox {
    margin-bottom: 2vh;
  }
}

@media only screen and (max-width: 37.5em) {
  .Intro .backgroundlightbox .lightbox .Headerlightbox {
    margin-bottom: 5vh;
  }
}

.Intro .backgroundlightbox .lightbox .Headerlightbox h2 {
  width: 70%;
  font-size: 5rem;
  margin: 0;
  color: white;
  text-align: left;
  position: relative;
  top: 3vh;
  font-family: 'WaterSeven';
}

@media only screen and (max-width: 65em) {
  .Intro .backgroundlightbox .lightbox .Headerlightbox h2 {
    font-size: 5rem;
    text-align: center;
  }
}

@media only screen and (max-width: 37.5em) {
  .Intro .backgroundlightbox .lightbox .Headerlightbox h2 {
    font-size: 3rem;
  }
}

.Intro .backgroundlightbox .lightbox .Headerlightbox button {
  width: 10vh;
  height: 10vh;
  position: relative;
  padding: 0;
  left: 2.5vw;
  bottom: 2.5vh;
  border-radius: 15px;
  background-color: #1a7fbf;
  transition: all ease 0.2s;
  font-size: 50px;
}

@media only screen and (max-width: 65em) {
  .Intro .backgroundlightbox .lightbox .Headerlightbox button {
    width: 100px;
    height: 100px;
    font-size: 60px;
    left: 4vw;
  }
}

@media only screen and (max-width: 37.5em) {
  .Intro .backgroundlightbox .lightbox .Headerlightbox button {
    width: 85px;
    height: 85px;
    font-size: 45px;
    left: 7vw;
  }
}

.Intro .backgroundlightbox .lightbox .Headerlightbox button:hover {
  background-color: #130a58;
}

.Intro .backgroundlightbox .lightbox .textcontainer {
  display: flex;
  justify-content: flex-start;
}

.Intro .backgroundlightbox .lightbox .textcontainer p {
  text-align: justify;
  max-width: 100%;
  margin: 0;
  position: relative;
  border-radius: 0px;
  font-size: 1.25rem;
  line-height: 30px;
  font-family: 'Montserrat';
}

.Intro header {
  display: flex;
  flex-direction: row;
  height: 20vh;
}

.Intro header h1 {
  text-align: center;
}

.Intro header a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.Intro nav {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

.Intro nav h1 {
  color: white;
}

.Intro nav div {
  margin: 0 5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Intro nav div h1 {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  justify-content: center;
}

.Intro section {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.Intro section #bloc1,
.Intro section #bloc2,
.Intro section #bloc3 {
  max-width: 250px;
  width: 30vw;
  height: 250px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: 'WaterSeven';
}

.Intro section #bloc1 h1,
.Intro section #bloc2 h1,
.Intro section #bloc3 h1 {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.5);
}

.Intro section #bloc1 {
  position: relative;
  top: 5vh;
}

.Intro section #bloc2 {
  position: relative;
  top: -3vh;
}

.Intro section #bloc3 {
  position: relative;
  top: 13vh;
}

#BulleToggle {
  display: flex;
  justify-content: center;
  font-family: 'WaterSeven';
}

#BulleToggle .bulle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

#BulleToggle .bulle h1 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 3.5em;
}

/* Ma palette de couleur se retrouve ici */
/* Tout le style concernant le prototype de retrouve ici */
body {
  /* Dégradé */
  background: #00D4FF;
  background: linear-gradient(169deg, #00D4FF 9%, #17A9E0 19%, #1a7fbf 31%, #1c5d9f 43%, #0e3c7c 56%, #0d2059 74%, #130a58 89%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$bleupale1, endColorstr=$bleufoncee3, GradientType=1);
}

.App {
  margin-top: 1vh;
  transition: opacity 1s ease;
  height: 100vh;
  /* Les messages reviennent dans cette balise */
  /* Tout ce qui gère l'envoi des messages */
  /* Le bouton de connection à Google quand on n'est pas connecté */
  /* Le style des messages */
  /* Le style des messages envoyés */
  /* Le style des messages reçus */
  /* L'image Google */
}

.App .Prototype {
  width: 65vw;
  margin: auto auto;
  background-color: black;
  border: black solid 10px;
  border-radius: 50px;
  height: 82.5vh;
  /* Le header se constitue du texte YouKhAt avec le bouton déconnecter */
  /* La section est nécessaire pour le placement de la balise main et du form */
}

@media only screen and (max-width: 65em) {
  .App .Prototype {
    position: fixed;
    left: 7.5vw;
    width: 80vw;
    height: 70vh;
  }
}

.App .Prototype header {
  height: 10vh;
  min-height: 50px;
  color: white;
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 0px 50px;
  box-sizing: border-box;
  border-radius: 30px 30px 0 0;
  font-family: 'WaterSeven';
}

.App .Prototype header button {
  width: 20vw;
  height: 7vh;
  padding: 0;
  margin: 0;
}

.App .Prototype header button p {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 65em) {
  .App .Prototype header {
    font-size: 0.7rem;
    padding: 0 25px;
  }
  .App .Prototype header button {
    width: 30vw;
    height: 7.5vh;
    padding: 0;
  }
  .App .Prototype header button p {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .App .Prototype header button {
    height: 5vh;
  }
}

.App .Prototype section {
  background-color: #130a58;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 50vw;
  height: 65vh;
  border-radius: 0 0 30px 30px;
}

@media only screen and (max-width: 65em) {
  .App .Prototype section {
    width: 70vw;
    height: 55vh;
  }
}

.App main {
  padding: 10px;
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.App main::-webkit-scrollbar {
  width: 0.25rem;
}

.App main::-webkit-scrollbar-track {
  background: #0e3c7c;
}

.App main::-webkit-scrollbar-thumb {
  background: #1a7fbf;
}

.App form {
  height: 10vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App form button {
  width: 15vw;
  background-color: #1c5d9f;
  transition: background-color ease 0.3s;
}

@media only screen and (max-width: 65em) {
  .App form button {
    width: 25vw;
    padding: 0;
    z-index: 0;
    font-size: 1rem;
  }
}

.App input {
  line-height: 1.5;
  width: 30vw;
  font-size: 1.5rem;
  background: #3a3a3a;
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
  border-radius: 20px;
}

@media only screen and (max-width: 65em) {
  .App input {
    width: 35vw;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .App input {
    font-size: 0.9rem;
  }
}

.App button {
  background-color: #282c34;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 15px;
}

.App button:disabled {
  background-color: #0e3c7c;
  cursor: not-allowed;
}

.App .sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

.App ul,
.App li {
  text-align: left;
  list-style: none;
}

.App p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.App .message {
  display: flex;
  align-items: center;
}

.App .sent {
  flex-direction: row-reverse;
}

.App .sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}

.App .received p {
  background: #e5e5ea;
  color: black;
}

.App img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

/* Le bouton qui permet de retourner à la présentation */
#BoutonToggle {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

#BoutonToggle h1 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2.5em;
}

#BoutonToggle button {
  margin-top: 1vh;
}
