body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Relax";
  src: local("Relax"),
    url("./fonts/Relax.ttf") format("truetype");
}

@font-face {
  font-family: "WaterFire";
  src: local("WaterFire"),
    url("./fonts/WaterFire.otf") format("opentype");
}

@font-face {
  font-family: "Relaxing";
  src: local("Relaxing"),
    url("./fonts/Relaxing.ttf") format("truetype");
}

@font-face {
  font-family: "WaterSeven";
  src: local("WaterSeven"),
    url("./fonts/WaterSeven.ttf") format("truetype");
}